.links{
	border:1px solid pink;
	padding:5px;
	width:250px;
	height:30px;
	background-color:white;
	text-decoration:none;
	margin:5px;
	text-align:center;
	background-color:#658;
	border-radius:10px;
	
}
#a01{
	text-decoration-style:bold;
	color:red;
	display:normal;
	
}
h1{
	border:2px dotted black;
	
}

















